<MudPaper Outlined="true" Height="450px" Width="300px">
    <MudStack Row="true" Justify="Justify.SpaceBetween"> 
        <div>@CardModel.Name</div>
        <MudStack Row="true">
            <div>@CardModel.FollowerCost</div>
            <div>@CardModel.PrayerCost</div>
        </MudStack>
    </MudStack>
    <MudPaper Outlined="true">
        <MudStack Style="height: 180px" Justify="Justify.Center" AlignItems="AlignItems.Center">
            Card Image
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true">
        <MudStack Style="height: 240px">
            @foreach (var ability in CardModel.Abilities)
            {
                @ability
                <MudFlexBreak />
            }
            @foreach (var passive in CardModel.PassiveEffects)
            {
                @passive
                <MudFlexBreak/>
            }
            @foreach (var active in CardModel.ActivatedEffects)
            {
                @active
                <MudFlexBreak/>
            }
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true">
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <div>@CardModel.Attack</div>
            <div>@CardModel.GetBottomText()</div>
            <div>@CardModel.Health</div>
        </MudStack>
    </MudPaper>
</MudPaper>

@code {
    [Parameter]    
    public CardModel CardModel { get; set; }
}