<MudPaper Outlined="true" Height="200px" Width="300px">
    <MudStack Row="true" Justify="Justify.SpaceBetween">
        <div>@CardModel.CardName</div>
        <MudStack Row="true">
            <div>@CardModel.FollowerCost</div>
            <div>@CardModel.PrayerCost</div>
        </MudStack>
    </MudStack>
    <MudPaper Outlined="true">
        <MudStack Style="height: 400px">
            Card Image
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true">
        <MudStack>
            @CardModel.Abilities
            <MudFlexBreak />
            @CardModel.PassiveEffects
            <MudFlexBreak />
            @CardModel.ActivatedEffects
        </MudStack>
    </MudPaper>
    <MudPaper Outlined="true">
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <div>@CardModel.Attack</div>
            <div>@GetBottomText(CardModel)</div>
            <div>@CardModel.Health</div>
        </MudStack>
    </MudPaper>
</MudPaper>

@code {
    [Parameter]    
    public CardModel CardModel { get; set; }

    private string GetBottomText(CardModel card)
    {
        @* @CardModel.Type - @CardModel.Species @CardModel.Subtype @CardModel.Archetype *@
        var bottomText = "";

        if (card.Type is not null)
        {
            bottomText += " " + CardModel.Type;
        }

        if (card.Subtype is not null)
        {
            bottomText += " " + card.Subtype;
        }

        if (card.Species is not null || card.Subtype is not null || card.Archetype is not null)
        {
            bottomText += " -";
        }

        if (card.Species is not null)
        {
            bottomText += " " + card.Species;
        }

        if (card.Archetype is not null)
        {
            bottomText += " " + card.Archetype;
        }

        return bottomText;
    }

}