@page "/Template"
@using System.Globalization

<PageTitle>Template Creator</PageTitle>

<h1>Template Creator</h1>

<MudStack Style="height: 600px">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".csv" FilesChanged="UploadCsv" MaximumFileCount="1">
        <ActivatorContent>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload">
                Upload CSV
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
    @if (_shouldRender)
    {
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="tabs-panel" Style="height: 5000px; overflow-y: scroll" TabPanelClass="mud-tabs">
            <MudTabPanel Text="Frames">
                <MudButton OnClick="() => AddCondition(_frames)">Add New Frame</MudButton>
                <MudStack Spacing="3" Class="scrollable-content">
                    @foreach (var (condition, index) in _frames.Select((condition, index) => (condition, index)))
                    {
                        <MaskConditionCreator
                            Title="Frame"
                            Condition="@condition"
                            ColumnNames="@_columnNames"
                            Index="@index"
                            Length="_frames.Count"
                            OnRemove="() => RemoveCondition(_frames, condition)" />
                    }
                </MudStack>
            </MudTabPanel>
            <MudTabPanel Text="Masks">
                <MudButton OnClick="() => AddCondition(_masks)">Add New Mask</MudButton>
                <MudStack Spacing="3" Class="scrollable-content">
                    @foreach (var (condition, index) in _masks.Select((condition, index) => (condition, index)))
                    {
                        <MaskConditionCreator
                            Title="Mask"
                            Condition="@condition"
                            ColumnNames="@_columnNames"
                            Index="@index"
                            Length="_masks.Count"
                            OnRemove="() => RemoveCondition(_masks, condition)" />
                    }
                </MudStack>
            </MudTabPanel>
            <MudTabPanel Text="Emblems">
                <MudButton OnClick="() => AddCondition(_emblems)">Add New Emblem</MudButton>
                <MudStack Spacing="3" Class="scrollable-content">
                    @foreach (var (condition, index) in _emblems.Select((condition, index) => (condition, index)))
                    {
                        <MaskConditionCreator
                            Title="Emblem"
                            Condition="@condition"
                            ColumnNames="@_columnNames"
                            Index="@index"
                            Length="_emblems.Count"
                            OnRemove="() => RemoveCondition(_emblems, condition)" />
                    }
                </MudStack>
            </MudTabPanel>
            <MudTabPanel Text="Icons">
                <MudButton OnClick="() => AddCondition(_icons)">Add New Icon</MudButton>
                <MudStack Spacing="3" Class="scrollable-content">
                    @foreach (var (condition, index) in _icons.Select((condition, index) => (condition, index)))
                    {
                        <IconConditionCreator
                            Title="Icon"
                            Condition="@condition"
                            Index="@index"
                            Length="_icons.Count"
                            OnRemove="() => RemoveCondition(_icons, condition)" />
                    }
                </MudStack>
            </MudTabPanel>
        </MudTabs>
    }
</MudStack>
<MudButton 
    Class="my-1"
    Style="width: 10em; height: 5em;"
    Variant="Variant.Filled"
    StartIcon="@Icons.Material.Filled.CloudDownload"
    Color="Color.Info"
    Size="Size.Small"
    OnClick="downloadTemplate"
>
    Download Template
</MudButton>
@code {
    [Inject] private IJSRuntime Js { get; set; } = default!;
    private Boolean _shouldRender;
    private List<string> _columnNames = new();
    private List<MaskCondition> _frames = new List<MaskCondition> {new MaskCondition()};
    private List<MaskCondition> _masks = new List<MaskCondition> {new MaskCondition()};
    private List<MaskCondition> _emblems = new List<MaskCondition> {new MaskCondition()};
    private List<IconCondition> _icons = new List<IconCondition> {new IconCondition()};
    private async void UploadCsv(IReadOnlyList<IBrowserFile>? files)
    {
        if (files is null)
        {
            return;
        }

        foreach (var file in files)
        {
            await using (var stream = file.OpenReadStream(file.Size))
            using (var reader = new StreamReader(stream))
            using (var csv = new CsvReader(reader, CultureInfo.InvariantCulture))
            {
                if (await csv.ReadAsync() && csv.ReadHeader())
                {
                    _columnNames = csv.Context.Reader?.HeaderRecord?.ToList() ?? new List<string>();
                }
            }
        }
        _shouldRender = true;
        StateHasChanged();
    }
    private async void downloadTemplate()
    {
        await Js.InvokeVoidAsync("downloadTemplate", "template.json", "application/JSON", "");
    }
    private void RemoveCondition(IList<MaskCondition> list, MaskCondition condition)
    {
        list.Remove(condition);
        
        _shouldRender = true;
        StateHasChanged();
    }
    private void RemoveCondition(IList<IconCondition> list, IconCondition condition)
    {
        list.Remove(condition);
        
        _shouldRender = true;
        StateHasChanged();
    }
    private void AddCondition(IList<MaskCondition> list) 
    {
        list.Add(new MaskCondition());
        
        _shouldRender = true;
        StateHasChanged();
    }
    private void AddCondition(IList<IconCondition> list) 
    {
        list.Add(new IconCondition());
        
        _shouldRender = true;
        StateHasChanged();
    }
};